WCFClient1/Service References/SelfServiceReference/selfTest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/selfTest?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SelfHost" />
  <xs:element name="get_CallsCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_CallsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_CallsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTestObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SelfHost" minOccurs="0" name="testObject" nillable="true" type="q1:Test1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTestObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetTestObjectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>